body {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 15px;
    color: cyan;
}
.wrapper {
    position: relative;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 50px;
}
.slider-wrapper {
    position: relative;
    width: 414px;
    height: 414px;
    overflow: hidden;
}
.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
}
.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.tab1, .tab2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    border: 1px solid cyan;
    border-radius: 5px;
}
.tab1:hover, .tab2:hover {
    background: cyan;
}
.tab1:hover a , .tab2:hover a{
    color: white;
}
.tab1{
    margin-right: 20px;
}
a {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 15px;
    color: cyan;
    text-decoration: none;
}
h2 {
    color: #000000;
    padding-left: 10px;
}
.slide {
    width: 200px;
    border: 1px solid cyan;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 414px;
}
.slide:nth-child(1), .slide:nth-child(3) {
    margin-right: 10px;
}
.slide img {
    width: 200px;
    height: 200px;
}
.description {
    padding-left: 10px;
    color: #000000;
    font-size: 12px;
}
.date {
    padding-left: 10px;
    color: cadetblue;
}
.btn {
    width: 200px;
    height: 30px;
    background: cyan;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.arrow {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 54%;
}
.arrow-left{
    left: 11%;
}
.arrow-right {
    left: 86%;
}
.arrow i {
    font-size: 20px;
}
.active {
    background: cyan;
}
.active a {
    color: white;
}
.modal {
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    display:none;
    text-align:center;
}

.modal_bg {
    background:rgba(0,0,0,0.8);
    position:absolute;
    z-index:1;
    height:100%;
    width:100%;
}
.modalSlide-wrapper {
    position: relative;
    z-index: 2;
    width: 700px;
    height: 500px;
    margin: 0 auto;
    margin-top: 200px;
    overflow: hidden;
}
.modalSlide {
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #ffffff;
    position: relative;
}
.modalSlide img{
    width: 300px;
    height: 500px;
}
.modalSlide-container{
    position: absolute;
    display: flex;
    width: fit-content;
}
.modal-arrows .arrow {
    z-index: 3;
    top: 40%;
}
.modal-arrows .arrow-left {
    left: 1%;
}
.modal-arrows .arrow-right {
    left: 97%;
}
.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    width: 40px;
    height: 20px;
    position: fixed;
    left: 66%;
    top: calc(100% - 25px);
    background: cyan;
    z-index: 100;
}
