---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="form">
	<form action="#">
		<select class="select" data-placeholder="Город*">
			<option value="Киев">Киев</option>
			<option value="Львов">Львов</option>
			<option value="Днепропетровск">Днепропетровск</option>
			<option value="Черкассы">Черкассы</option>
			<option value="Бровары">Бровары</option>
			<option value="Винница">Винница</option>
			<option value="Одесса">Одесса</option>
			<option value="Донецк">Донецк</option>
			<option value="Луганск">Луганск</option>
			<option value="Харьков">Харьков</option>
			<option value="Бровары">Бровары</option>
			<option value="Винница">Винница</option>
			<option value="Одесса">Одесса</option>
			<option value="Донецк">Донецк</option>
			<option value="Бровары">Бровары</option>
			<option value="Винница">Винница</option>
			<option value="Одесса">Одесса</option>
			<option value="Донецк">Донецк</option>
		</select>
		<input type="text" placeholder="Имя*" class="form_name">
		<div class="mandatory"><p>Обязательное для заполнения поле</p></div>
	</form>
</div>

<div class="form">
	<form action="#">
		<select class="select" data-placeholder="Город*">
			<option value="Киев">Киев</option>
			<option value="Львов">Львов</option>
			<option value="Днепропетровск">Днепропетровск</option>
			<option value="Черкассы">Черкассы</option>
			<option value="Бровары">Бровары</option>
			<option value="Винница">Винница</option>
			<option value="Одесса">Одесса</option>
			<option value="Донецк">Донецк</option>
			<option value="Луганск">Луганск</option>
			<option value="Харьков">Харьков</option>
			<option value="Бровары">Бровары</option>
			<option value="Винница">Винница</option>
			<option value="Одесса">Одесса</option>
			<option value="Донецк">Донецк</option>
			<option value="Бровары">Бровары</option>
			<option value="Винница">Винница</option>
			<option value="Одесса">Одесса</option>
			<option value="Донецк">Донецк</option>
		</select>
		<input type="text" placeholder="Имя*" class="form_name">
		<div class="mandatory"><p>Обязательное для заполнения поле</p></div>
	</form>
</div>





{% endblock %}
